<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Module"/>

<f:section name="Content">
    <f:render partial="Backend/Contact/List/Actions"/>
    <f:if condition="{paginator.paginatedItems}">
        <f:then>
            <f:render partial="Backend/Contact/List/Filter" arguments="{demand: demand, action: 'list'}"/>

            <div class="clear"></div>

            <f:render partial="Backend/Contact/List/Table" arguments="{contacts: paginator.paginatedItems}"/>
            <f:render partial="Backend/Utility/Paginator" arguments="{pagination: pagination, pages: pages, paginator: paginator}" />
        </f:then>
        <f:else>
            Select a Page where Contacts Dataset are saved.
        </f:else>
    </f:if>
</f:section>
</html>
